@import '../../elements/util.module';

.container {
    display: flex;
    align-items: flex-start;
    flex-flow: col nowrap;

    .sideBar {
        width: calc(275px + 2em);
        padding-right: 3em;
        flex-shrink: 0;
        box-sizing: border-box;
    }

    .content {
        width: 100%;
    }

    @media screen and (max-width: 900px) {
        .sideBar {
            display: none;
        }
    }
}

.footer {
    margin-top: 2em;
    border-top: 1px solid var(--line-color);

    .meta {
        @include h-stack;

        padding: 1em 0;
        font-size: 85%;

        .edit {
            width: 100%;
            text-align: right;
        }

        .lastModified {
            flex-shrink: 0;
            color: var(--font-color-light);
        }
    }
}

.links {
    @include h-stack;

    width: 100%;
    margin-top: 3em;

    .spacer {
        min-width: 1em;
    }

    a {
        @include h-stack;

        color: var(--link-color);
        border: 1px solid var(--line-color);
        padding: 0.33em 0.5em;
        border-radius: 0.33em;

        &:hover {
            text-decoration: underline;
        }

        svg {
            width: 2em;
            height: 2em;
        }

        span {
            text-align: center;
        }
    }

    .prev span {
        margin-right: 0.5em;
    }

    .next span {
        margin-left: 0.5em;
    }
}
