.editable {
    color: inherit;

    button {
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        margin-left: 0.25em;
        font: inherit;
        line-height: inherit;
        display: inline;
    }

    svg {
        vertical-align: middle;
    }

    .icon {
        opacity: 0;
    }

    &:hover,
    button:focus {
        .icon {
            opacity: 1;
        }
    }
}

.input {
    color: inherit;
    font: inherit;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
    width: 100%;
}

.breakable {
    word-break: normal;
    overflow-wrap: anywhere;
}
