.imageWrapper {
    height: 350px;

    @media screen and (min-width: 768px) {
        height: 450px;
    }

    @media screen and (min-width: 1024px) {
        height: 500px;
    }

    @media screen and (max-width: 1023px) {
        border-radius: 0;
        margin: -1rem 0 0 -1rem;
        width: calc(100% + 2rem);
        height: 300px;
    }
}
