@use 'sass:color';

@import '../util.module';
@import '../../styles/theme';

.modelCard {
    position: relative;
    height: 350px;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;

    --inner-radius: calc(0.5rem - 1px);

    &.overflowHidden {
        --inner-radius: 0;

        overflow: hidden;
    }

    .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .topTags {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        display: flex;
        flex-flow: row wrap;
        column-gap: 0.5rem;
        z-index: 1;
        pointer-events: none;
    }

    .thumbnail {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: var(--inner-radius) var(--inner-radius) 0 0;
        z-index: 0;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;
        vertical-align: middle;

        &.paired {
            border-radius: var(--inner-radius);
        }
    }

    .details {
        padding: 0.75rem;
        padding-top: 0;

        &.paired {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            backdrop-filter: blur(2rem) saturate(2);
            border-radius: 0 0 var(--inner-radius) var(--inner-radius);
            overflow: hidden;

            @include themed using($t) {
                background: linear-gradient(transparent, t($t, white, $fade-900))
                    t($t, color.change(white, $alpha: 0.7), color.change($fade-900, $alpha: 0.8));
            }
        }

        a.name {
            word-break: normal;
            overflow-wrap: anywhere;
            padding-top: 0.5rem;
        }
    }

    .tagBase {
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        font-weight: 500;
    }
}
