.scrollToTop {
    // position
    position: fixed;
    z-index: 100;
    bottom: 0.5rem;
    right: 0.5rem;

    @media screen and (min-width: 1600px) {
        right: auto;
        left: calc(50vw + var(--max-page-width) / 2);
        bottom: 1rem;
    }

    // design
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 100%;
    padding: 0.25rem;
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;

    @media screen and (max-width: 1600px) {
        opacity: 0.5;
    }

    &:hover {
        opacity: 1;
        transition-duration: 0.2s;
    }

    svg {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }
}
