// LCh = 36 60 300
$accent: #4d48a9; // 600
$accent-50: #feeaff;
$accent-100: #f8e4ff;
$accent-200: #e9d6ff;
$accent-300: #d8c5ff;
$accent-400: #a394ff;
$accent-500: #6e64ca;
$accent-600: #4d48a9;
$accent-700: #323391;
$accent-800: #031c74;
$accent-900: #000c60;

// LCh = 36 60 300
$accent-fade: #575170; // 600
$accent-fade-50: #fdf4ff;
$accent-fade-100: #f7efff;
$accent-fade-200: #e9e0ff;
$accent-fade-300: #d8cff5;
$accent-fade-400: #a59ec1;
$accent-fade-500: #746e8f;
$accent-fade-600: #575170;
$accent-fade-700: #413c5a;
$accent-fade-800: #282440;
$accent-fade-900: #17142f; /// #111018

$fade-50: #f9f8ff;
$fade-100: #f3f2fd;
$fade-200: #e5e4ee;
$fade-300: #d4d3dd;
$fade-400: #a2a1ab;
$fade-500: #72717a;
$fade-600: #55545c;
$fade-700: #403f47;
$fade-800: #28272f;
$fade-900: #17171e;

// easy access to tailwind's neutral palette
$n-50: #fafafa;
$n-100: #f5f5f5;
$n-200: #e5e5e5;
$n-300: #d4d4d4;
$n-400: #a3a3a3;
$n-500: #737373;
$n-600: #525252;
$n-700: #404040;
$n-800: #262626;
$n-900: #171717;
