/* stylelint-disable scss/at-rule-no-unknown */
@import './theme';

// @tailwind base;
@tailwind components;
@tailwind utilities;

// theme colors

@mixin theme-colors($t) {
    --accent: #{t($t, $accent-600, $accent-500)};
    --accent-2: #2d2d59;

    --page-bg: #{t($t, white, $fade-900)};

    --font-color: #{t($t, black, $fade-100)};
    --font-color-hover: #{t($t, $accent-700, $accent-400)};
    --font-color-light: #{t($t, $fade-700, $fade-400)};
    --font-color-light-hover: #{t($t, black, white)};

    --line-color: #{t($t, $fade-300, $fade-700)};

    --link-color: #{t($t, hsl(212deg 100% 45%), hsl(212deg 100% 67%))};

    --logo-text: #{t($t, $fade-900, white)};
    --logo-jelly: #{t($t, white, white)};
    --logo-circle: #{t($t, $fade-900, black)};
    --logo-accent: var(--accent);
    --logo-accent-2: var(--accent-2);

    --primary-bg: var(--accent);
    --primary-bg-hover: #{t($t, $accent-500, $accent-600)};
    --primary-color: #{t($t, white, white)};
    --primary-color-hover: #{t($t, white, white)};

    --secondary-bg: #{t($t, transparent, transparent)};
    --secondary-bg-hover: #{t($t, $accent-300, $accent-fade-800)};
    --secondary-color: #{t($t, black, $accent-fade-200)};
    --secondary-color-hover: #{t($t, black, white)};
}

@include themed using ($t) {
    @include theme-colors($t);

    color-scheme: #{t($t, light, dark)};
}

// global variables

:root {
    --max-page-width: 1400px;

    --fonts-heading: var(--font-inter), -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fonts-body: var(--font-inter), -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fonts-mono: sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;

    overflow-y: scroll;
}

html,
body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: var(--fonts-body);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--page-bg);
    transition: background-color 0.25s ease-out;
    line-height: 1.6;

    // Storybook hacks
    &.sb-show-main {
        background-color: var(--page-bg) !important;
    }

    #storybook-docs .sbdocs-preview .docs-story {
        background-color: var(--page-bg) !important;
    }
}

code,
pre {
    font-family: var(--fonts-mono) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonts-heading);
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.15s ease;
}

::selection {
    background-color: var(--accent);
    color: white;
}

.rendering-pixelated {
    image-rendering: pixelated;
}

.break-words {
    word-break: normal;
    overflow-wrap: anywhere;
}

// a small hack for ReactCompareSlider to make the handle bigger
.react-compare-slider > [data-rcs='handle-container'] > * {
    padding: 0 1rem;
    cursor: ew-resize;
}
