/* stylelint-disable scss/at-rule-no-unknown */
// @tailwind base;
@tailwind components;
@tailwind utilities;

// theme colors

@function select($theme, $light, $dark) {
    @if $theme == dark {
        @return $dark;
    }
    @if $theme == light {
        @return $light;
    }
    @error "#{$theme} is not a valid theme. Only light and dark mode are supported.";
}

@mixin theme-colors($theme) {
    --page-bg: #{select($theme, #fff, #111018)};
    --header-bg: #{select($theme, rgb(255 255 255/80%), rgb(0 0 0/80%))};

    --accent-color: #454aab;

    --font-color: #{select($theme, #000, #eee)};
    --font-color-hover: #{select($theme, var(--accent-color), var(--accent-color))};
    --font-color-light: #{select($theme, #444, #bbb)};
    --font-color-light-hover: #{select($theme, #000, #fff)};

    --line-color: #{select($theme, hsl(0deg 0% 80%), hsl(0deg 0% 15%))};

    --code-inline-bg: #{select($theme, #ddd, #222)};
    --code-inline-color: inherit;

    --link-color: #{select($theme, hsl(212deg 100% 45%), hsl(212deg 100% 67%))};

    --logo-text: #{select($theme, #111018, #fff)};
    --logo-jelly: #{select($theme, #fff, #fff)};
    --logo-circle: #{select($theme, #111018, #111018)};
    --logo-accent: var(--accent-color);
}

:root:not([data-theme='dark']) {
    @include theme-colors(light);

    color-scheme: light;

    --dark-mode-switch: block;
    --light-mode-switch: none;
}

:root[data-theme='dark'] {
    @include theme-colors(dark);

    color-scheme: dark;

    --dark-mode-switch: none;
    --light-mode-switch: block;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
        @include theme-colors(dark);

        color-scheme: dark;

        --dark-mode-switch: none;
        --light-mode-switch: block;
    }
}

// global variables

:root {
    --max-page-width: 1400px;

    --fonts-heading: -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    --fonts-body: -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    --fonts-mono: sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
}

html,
body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: var(--fonts-body);
    color: var(--font-color);
}

body {
    background-color: var(--page-bg);
    line-height: 1.6;
}

code,
pre {
    font-family: var(--fonts-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonts-heading);
}

a {
    color: inherit;
    text-decoration: none;
}
