@use 'sass:color';

@import './util.module';
@import '../styles/theme';

.headerSpacer {
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
}

.header {
    @include themed using ($t) {
        background-color: t($t, color.change(white, $alpha: 0.8), color.change($fade-900, $alpha: 0.9));
    }

    transition: background-color linear 0.2s, border-color linear 0.2s;
    backdrop-filter: saturate(200%) blur(8px);
    border-bottom: 1px solid var(--line-color);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;

    & > div {
        @include h-stack;

        max-width: var(--max-page-width);
        box-sizing: border-box;
        padding: 0.5em 1em;
        margin: auto;
    }

    .logo {
        display: flex;
        flex-shrink: 0;
        width: 250px;
    }
}

.docLink {
    margin-left: 2em;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.iconLink,
.themeButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0.5em;
    font-size: 150%;
    cursor: pointer;
    transition: color 0.1s linear;
    width: 1em;
    height: 1em;
    line-height: 1;

    &:hover {
        color: var(--font-color-hover);
    }
}

.themeButton {
    @include themed using ($t) {
        .light {
            display: t($t, none, block);
        }

        .dark {
            display: t($t, block, none);
        }
    }
}
