@use 'sass:color';

@import './util.module';
@import '../styles/theme';

.headerSpacer {
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
}

.header {
    @include themed using ($t) {
        background: linear-gradient(t($t, white, $fade-900), transparent)
            t($t, color.change(white, $alpha: 0.8), color.change($fade-900, $alpha: 0.85));
    }

    transition: background-color linear 0.2s, border-color linear 0.2s;
    backdrop-filter: saturate(200%) blur(8px);
    border-bottom: 1px solid var(--line-color);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;

    & > div {
        @include h-stack;

        max-width: var(--max-page-width);
        box-sizing: border-box;
        padding: 0.5em 1em;
        margin: auto;
    }

    .logoContainer {
        display: flex;
        height: 48px;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }

    .logo {
        display: flex;
        flex-shrink: 0;
        width: 250px;
        position: relative;

        &::after {
            content: 'alpha';
            position: absolute;
            right: 0;
            bottom: -0.5rem;
            font-size: 1rem;

            // transform: rotate(15deg);

            @include themed using ($t) {
                color: t($t, $accent-600, $accent-500);
            }
        }
    }

    .search {
        // The following looks complicated, but is quite simple. The goal is
        // first determine the width of the download button, and then subtract
        // the header buttons on the right:
        //           min(100vw, 1400px)               the width of the page
        //                              - 4rem        remove the padding on the sides + the 2 1rem gaps in the grid layout of the model page
        //                                      / 3   the page is divided into a grid with 3 columns.
        // At this point, we have the width of the download button exactly.
        //                                          - 2em * 1.5 * 3          the 3 buttons to the right of the search bar
        //                                                          - 1rem   the right padding of the search bar
        width: calc((min(100vw, 1400px) - 4rem) / 3 - 2em * 1.5 * 3 - 1rem);
        box-sizing: border-box;
    }
}

.docLink {
    margin-left: 2rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    white-space: nowrap;
}

.iconLink,
.themeButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0.5em;
    font-size: 150%;
    cursor: pointer;
    transition: color 0.1s linear;
    width: 1em;
    height: 1em;
    line-height: 1;

    &:hover {
        color: var(--font-color-hover);
    }
}

.themeButton,
.otherThemeButton {
    @include themed using ($t) {
        .light {
            display: t($t, none, block);
        }

        .dark {
            display: t($t, block, none);
        }
    }
}

.hideMobile {
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.showMobile {
    @media only screen and (min-width: 601px) {
        display: none;
    }
}
