.markdown {
    word-break: normal;
    overflow-wrap: anywhere;

    h2 {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    h3 {
        margin-top: 1.75em;
        margin-bottom: 1em;
    }
}

.codeWrapper > code {
    background-color: rgb(29 31 33); // color of the theme we use for code blocks
    font-size: 90%;
    padding: 0.25em 0.5em;
    white-space: break-spaces !important;
    border-radius: 0.25em;
    line-height: inherit !important;
}

.linkableHeading {
    a:hover {
        border-bottom: 1px dotted;

        &::after {
            content: '#';
            opacity: 0.5;
            margin-left: 0.33em;
            position: absolute;
        }
    }
}
