.container {
    background-color: transparent;
}

.main {
    max-width: var(--max-page-width);
    box-sizing: border-box;
    margin: auto;
}

.wrapper {
    transition: background-color linear 0.2s;
}
