.tagView {
    margin: 0.5em 0;
}

.iconButton {
    color: inherit;
    font: inherit;
    line-height: inherit;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    opacity: 0.5;

    svg {
        vertical-align: middle;
    }

    &:hover {
        opacity: 1;
    }
}
