@import '../styles/theme';

.tagSelector {
    color: inherit;

    h4 {
        margin: 0.5rem 0;
    }

    &.advanced {
        @media only screen and (min-width: 640px) {
            display: grid;
            grid-template-columns: 1fr 1000fr;

            h4 {
                margin: 0.1rem 1rem 0 0;
                text-align: right;
            }

            & > div:not(:last-child) {
                margin-bottom: 0.75rem;
            }
        }
    }
}

.tagButton {
    margin: 0 0.5em 0.5em 0;
    font: inherit;
    cursor: pointer;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 0;
    border: none;
    display: inline-flex;
    overflow: hidden;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: translateY(0);
    }

    .icon {
        --extra-size: 0.2em;
        --icon-size: calc(1.4em + var(--extra-size));

        line-height: 1;
        padding: calc(0.333rem - var(--extra-size) / 2);
        display: inline-block;
        width: var(--icon-size);
        height: var(--icon-size);
        @include themed using ($t) {
            background-color: t($t, rgb(0 0 0/8%), rgb(255 255 255/12%));
        }

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
        }
    }

    .text {
        line-height: 1.4;
        height: 1.4em;
        font-weight: 500;
        padding: 0.333rem 0.625rem;
        display: inline-block;
    }
}

.controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25rem;
}

.modeButton {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0.25rem 0;
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;

    &:disabled {
        cursor: default;
    }

    span {
        font-size: 0.875rem;
        padding-left: 0.25rem;
        font-weight: 400;
    }
}
