.tagView {
    margin: 0.5em 0;
}

.delete {
    color: inherit;
    font: inherit;
    line-height: inherit;
    border: none;
    padding: 0;
    margin: 0;
    background: none;

    svg {
        vertical-align: middle;
    }
}
